
body {
  margin: 60px auto;
  width: 70%;
  color: #161617;
  background-color: #e6e6fa;
}

.container {
    background-color: #f3f4f6;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

nav ul, footer ul {
  font-size: 1em;
  font-family: 'Times New Roman','Serif';
  padding: 0;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a { 
  text-decoration: none;
  color: #161617;
}

h1 {
  font-size: 3em;
  font-family: 'Times New Roman','Serif';
}

h2 {
  font-size: 2.7em;
  font-family: 'Times New Roman','Serif';
}

h3 {
  font-size: 2.3em;
  font-family: 'Times New Roman','Serif';
}

h4 {
  font-size: 1.9em;
  font-family: 'Times New Roman','Serif';
}

h1, h2, h3, h4 {
    color: #161617;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  color: #161617;
}

footer {
  font-size: 0.8em;
}

footer ul {
  display: flex;
  align-items: center;
}

.last_updated {margin-left: auto; color: #48484a}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.photo {
    background: #f8f5f0;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

.photo img {
    width: 100%;
    border-radius: 10px;
}

.photo p {
    font-size: 0.9em;
    margin-top: 10px;
}
  
