
body {
  margin: 60px auto;
  width: 70%;
  color: #F2EED9;
  background-color: #f3f4f6;
}

.container {
    background-color: #31caf5;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

nav ul, footer ul {
  font-size: 1em;
  font-family: 'Times New Roman','Serif';
  padding: 0;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a { 
  text-decoration: none;
  color: #b1eafa;
}

h1 {
  font-size: 3em;
  font-family: 'Times New Roman','Serif';
}

h2 {
  font-size: 2.7em;
  font-family: 'Times New Roman','Serif';
}

h3 {
  font-size: 2.3em;
  font-family: 'Times New Roman','Serif';
}

h4 {
  font-size: 1.9em;
  font-family: 'Times New Roman','Serif';
}

h1, h2, h3, h4 {
    color: #F2EED9;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  color: #F2EED9;
}

footer {
  font-size: 0.8em;
}

footer ul {
  display: flex;
  align-items: center;
}

.last_updated {margin-left: auto; color: #ff6b7b}
  
