<!DOCTYPE html>

<html>
  
  <head>
    <link rel = "shortcut icon" href = "#" />
    <title> {{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    
    <!-- link to font-awesome stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- MathJax -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    
  </head>
  
  <body>
    <nav>
      
<ul>
<li><a href ="{{ site.baseurl }}/">Home </a> </li>
<li><a href="{{ site.baseurl }}/about/">About</a></li>
<li><a href ="{{ site.baseurl }}/projects/"> Projects</a> </li>
<li><a href ="{{ site.baseurl }}/photography/">Photography</a> </li>
<li><a href ="{{ site.baseurl }}/cv/"> CV</a> </li>
</ul>
      
    </nav>

    <div class = "container">
        {{ content }}

    </div>

    <footer>

      <ul>
        <li><a href =  "mailto:raunakchaudhary06@gmail.com" class = "author-social" target = "blank"> <i class = "fa fa-fw fa-envelope square"></i>email</a></li>
        <li><a href = "https://github.com/rchaudhary06" class = "author-social" target = "blank"> <i class = "fa fa-fw fa-github"></i> GitHub</a></li>
        <li class = "last_updated"> Last updated on: {{ page.last_modified_date}}</li>
      </ul>
    </footer>
      
      
  </body>
  
  
</html>
