<!DOCTYPE html>

<html>
  
  <head>
    <link rel = "shortcut icon" href = "#" />
    <title> {{ page.title }}</title>

    <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
    
  </head>
  
  <body>
    <nav>
      
<ul>
<li><a href = "/">Home </a> </li>
<li><a href = "about/"> About </a> </li>
<li><a href = "projects/"> Projects</a> </li>
<li><a href = "cv/"> CV</a> </li>
</ul>
      
    </nav>

    <div class = "container">
        {{ content }}

    </div>

    <footer>

      <ul>
        <li><a href =  "mailt0:raunakchaudhary06@gmail.com" class = "author-social" target = "blank"> <i class = "fa fa-fw fa-envelope square"></i>email</a></li>
        <li><a href = "https:github.com/rchaudhary06" class = "author-social" target = "blank"> <i class = "fa fa-fw fa-github"></i> GitHub</a></li>
        <span class = "last_updated"> Last updated on: {{ page.last_modified_date}}</span>
      </ul>
    </footer>
      
      
  </body>
  
  
</html>
